@font-face {
  font-family: "Product Sans Bold Italic";
  src: url("../src/assets/product-sans/Product Sans Bold Italic.ttf")
    format("truetype");
  font-weight: 700; /* Bold weight */
  font-style: italic;
}

@font-face {
  font-family: "Product Sans Bold";
  src: url("../src/assets/product-sans/Product Sans Bold.ttf")
    format("truetype");
  font-weight: 700; /* Bold weight */
}

@font-face {
  font-family: "Product Sans Italic";
  src: url("../src/assets/product-sans/Product Sans Italic.ttf")
    format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Product Sans Regular";
  src: url("../src/assets/product-sans/Product Sans Regular.ttf")
    format("truetype");
}

.App-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #21304d;
  color: white;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.App-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

.App-search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
